.root {
	-fx-background: derive(green, -70%);
	-fx-color: derive(green, -60%);
	-fx-control-inner-background: derive(green, -40%);
	-fx-box-border: derive(green, -50%);
	-fx-background-color: -fx-color;
	
	-fx-padding: 0px;
	
	-fx-font: 11px "Serif";
}

.menu-bar {
}

.scroll-pane {
}

/* Left area */

#canvasPane {
	-fx-background-color: -fx-background;
}

.tab-pane .tab-header-background {
}

.tab {
}

.tab-label {
}

.text-area {
	-fx-padding: 1px;
}

.text-area .content {
}

.text-field {
}

.text-input {
}

/* Right area */

.titled-pane .title {
}

.titled-pane .title .text {
}
